header {
  display: flex;
  justify-content: center;

  padding: 2rem;

  background-color: $color-black;

  img {
    width: 20%;

    @media screen and (min-width: 500px) {
      width: 10%;
    }

    @media screen and (min-width: 800px) {
      width: 5%;
    }
  }
}