footer {
  padding: 3rem 0;

  background-color: $color-black;
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 60%;
    margin: auto;

    .social-networks {
      display: flex;
      align-items: center;
      gap: 2rem;
      
      a {
        text-decoration: none;
      }
    }
  
    h4 {
      font-size: 1rem;
      font-weight: 400;
  
      color: #BDBDBD;
  
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width: 425px) {
        font-size: .9rem;
      }

      @media screen and (max-width: 375px) {
        font-size: .8rem;
      }

      @media screen and (max-width: 320px) {
        font-size: .7rem;
      }

      span {
        display: none;

        @media screen and (min-width: 900px) {
          display: inline
        }
      }

      br {
        @media screen and (min-width: 900px) {
          display: none;
        }
      }
    }
  }
}