.code {
  display: grid;
  gap: 6rem;

  padding-bottom: 10rem;

  #code {
    img {
      width: 100%;
    }
  }

  .content-code {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    width: 85%;
    margin: auto;

    @media screen and (min-width: 900px) {
      align-items: center;
    }

    .title-code {
      h2 {
        padding-bottom: 2rem;
        
        text-transform: uppercase;
        text-align: center;
  
        span {
          font-size: 2rem;
          font-weight: 400;
        }
      }
  
      p {
        text-align: center;

        @media screen and (min-width: 900px) {
          text-align: justify;
        }
        
        br {
          display: none;

          @media screen and (min-width: 900px) {
            display: block;
  
          }
        }
      }
    }

    #monitor {
      margin: auto;
       
      img {
        width: 100%;
      }
    }
  }
}