.networking {
  display: flex;
  flex-direction: column;
  gap: 18rem;

  padding: 0 0 6rem 0;
  
  .networking_background {
    background-color: $color-background-section;

    .container_networking {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      margin-bottom: -8rem;
      padding-top: 3rem;

      @media screen and (max-width: 900px) {
        flex-wrap: wrap;
      }
      
      #notebook {
        @media screen and (max-width: 320px) {
          &:nth-child(1), &:nth-child(2) {
            width: 45%;
          }

          &:last-child {
            width: 93%;
          }
        }
        
        img {
          width: 100%;
        }
      }
    }
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    width: 95%;
    margin: auto;

    @media screen and (min-width: 900px) {
      flex-direction: row;
    }

    .information-networking {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
  
      width: 85%;
  
      border-radius: .8rem;
      box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.384);
  
      padding: 3rem 0;
  
      background-color: $color-white;

      @media screen and (min-width: 900px) {
        width: 100%;
        height: 100%;
      }
  
      p {
        text-align: center;
      }
    }
  }
}