.information-purchase {
  .purchase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  
    padding: 5rem 0;
  
    @media screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;

      width: 80%;
      margin: auto;
    }
  }

  .purchase-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    width: 85%;

    border-radius: .8rem;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.384);

    padding: 2rem;

    background-color: $color-white;

    img {
      width: 30%;

      @media screen and (min-width: 600px) {
        width: 10%;
      }

      @media screen and (min-width: 900px) {
        width: 30%;
      }
    }

    p {
      text-align: center;
    }
  }
}