.study {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-bottom: 10rem;

  @media screen and (min-width: 900px) {
    align-items: center;
    justify-content: center;

    padding: 10rem 0;

    width: 80%;
    margin: auto;
  }

  #study {
    img {
      width: 100%;
    }
  }

  .content-study {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    width: 85%;
    margin: auto;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}