$color-black: #000000;
$color-white: #FFFFFF;
$color-background-section: #E0E0E0;
$color-blue-gradient: linear-gradient(180deg, #00C8FF 0%, #15ACD6 100%);

$font: 'Inter', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Resetando a fonte para poder usar a medida rem como padrão
html {
  font-size: 62.5%;
}

body {
  background-color: $color-white;

  font-family: $font;
  font-size: 1.6rem;
}